workflows/3btMyUsQMJ01THXi.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-10T07:14:55.367Z",
    "createdAt": "2026-01-10T07:14:47.158Z",
    "versionId": "c20c4bf8-6e20-4ef6-a2f0-d3b4a234c074",
    "workflowId": "3btMyUsQMJ01THXi",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "ba639c8e-2871-4a8c-af5f-77bfa29f2dfb",
        "name": "Telegram Trigger",
        "webhookId": "d83f53bb-3c5a-424e-96c5-d7ff5051f479",
        "credentials": {
          "telegramApi": {
            "id": "kO5Gv1mXkPREdJUE",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          800,
          0
        ],
        "id": "47f76b22-ce39-46d6-8d7b-31be46525f89",
        "name": "Send a text message",
        "webhookId": "b166bc32-b020-48ed-bc4b-200bd772b087",
        "credentials": {
          "telegramApi": {
            "id": "kO5Gv1mXkPREdJUE",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "You are an AI assistant.\n\nABSOLUTE RULE — LANGUAGE:\nYou must reply in the exact same language as the user's most recent message.\nThis rule has the highest priority and overrides all other rules.\n\nGREETING RULE:\nYou must always greet the user at the beginning of every response.\n\n- If the user writes in Vietnamese:\n  Start with exactly: \"Chào chị Hạnh,\"\n\n- If the user writes in English:\n  Start with exactly: \"Hello chị Hạnh,\"\n\nDo not translate. Do not mix languages.\n\nTONE:\nYour tone must always be gentle, polite, respectful, and professional.\n\nSTYLE:\n- Keep answers clear and concise.\n- Explain step by step if the topic is technical.\n- Keep short answers friendly and calm.\n\nSTRICT CONSTRAINTS:\n- Never respond in Vietnamese if the user writes in English.\n- Never respond in English if the user writes in Vietnamese.\n- Never omit the greeting.\n- Never add extra languages.\n\nFollow these rules strictly in every response."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          416,
          0
        ],
        "id": "eca89f8e-0f3a-47c0-8ef8-8993688de603",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          352,
          208
        ],
        "id": "c176c663-e74e-4350-9ba1-4416fb5cfbec",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "ZTongs9LJBLbK1CL",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          480,
          208
        ],
        "id": "7b872b47-00ea-406e-8868-4146376006da",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hạnh Julia",
    "name": "Version c20c4bf8",
    "description": ""
  },
  "activeVersionId": "c20c4bf8-6e20-4ef6-a2f0-d3b4a234c074",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-09T11:11:10.439Z",
  "id": "3btMyUsQMJ01THXi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mikiotele_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ba639c8e-2871-4a8c-af5f-77bfa29f2dfb",
      "name": "Telegram Trigger",
      "webhookId": "d83f53bb-3c5a-424e-96c5-d7ff5051f479",
      "credentials": {
        "telegramApi": {
          "id": "kO5Gv1mXkPREdJUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "47f76b22-ce39-46d6-8d7b-31be46525f89",
      "name": "Send a text message",
      "webhookId": "b166bc32-b020-48ed-bc4b-200bd772b087",
      "credentials": {
        "telegramApi": {
          "id": "kO5Gv1mXkPREdJUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI assistant.\n\nABSOLUTE RULE — LANGUAGE:\nYou must reply in the exact same language as the user's most recent message.\nThis rule has the highest priority and overrides all other rules.\n\nGREETING RULE:\nYou must always greet the user at the beginning of every response.\n\n- If the user writes in Vietnamese:\n  Start with exactly: \"Chào chị Hạnh,\"\n\n- If the user writes in English:\n  Start with exactly: \"Hello chị Hạnh,\"\n\nDo not translate. Do not mix languages.\n\nTONE:\nYour tone must always be gentle, polite, respectful, and professional.\n\nSTYLE:\n- Keep answers clear and concise.\n- Explain step by step if the topic is technical.\n- Keep short answers friendly and calm.\n\nSTRICT CONSTRAINTS:\n- Never respond in Vietnamese if the user writes in English.\n- Never respond in English if the user writes in Vietnamese.\n- Never omit the greeting.\n- Never add extra languages.\n\nFollow these rules strictly in every response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "eca89f8e-0f3a-47c0-8ef8-8993688de603",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "c176c663-e74e-4350-9ba1-4416fb5cfbec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZTongs9LJBLbK1CL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "7b872b47-00ea-406e-8868-4146376006da",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 851822215,
          "message": {
            "message_id": 12,
            "from": {
              "id": 1281233579,
              "is_bot": false,
              "first_name": "Mikio",
              "last_name": "Hanh",
              "language_code": "vi"
            },
            "chat": {
              "id": 1281233579,
              "first_name": "Mikio",
              "last_name": "Hanh",
              "type": "private"
            },
            "date": 1768027621,
            "text": "hi"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Ho_Chi_Minh",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-09T11:11:10.439Z",
      "createdAt": "2026-01-09T11:11:10.439Z",
      "role": "workflow:owner",
      "workflowId": "3btMyUsQMJ01THXi",
      "projectId": "fGRIZ2vcPzOtJ2Hj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-10T07:14:47.157Z",
  "versionId": "c20c4bf8-6e20-4ef6-a2f0-d3b4a234c074"
}