workflows/dzU3FgWpgCU0E7lt.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T10:47:55.361Z",
  "id": "dzU3FgWpgCU0E7lt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REMINDING SUPPLIER ETD",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -16
      ],
      "id": "e7fcb389-cf1b-4565-8174-3a73dc2a8bb8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Iqva0NJgul5qU_qfBirwNCtK67y36IrRWoWCwdF-wNc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iqva0NJgul5qU_qfBirwNCtK67y36IrRWoWCwdF-wNc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -16
      ],
      "id": "98c86b69-5065-49e5-8961-85c9bf27fac2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HAuycisc2CDPvPSS",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả input items từ node trước\nconst items = $input.all();\n\n// Parser linh hoạt cho định dạng như \"23-Aug-2026\", \"22-Mar-2026\" hoặc ISO \"2026-08-23\"\nfunction parseDDMonYYYY(s) {\n  if (!s) return null;\n  if (s instanceof Date) return s;\n  const str = String(s).trim();\n\n  // thử parse ISO/standard trước\n  const tryIso = new Date(str);\n  if (!isNaN(tryIso.getTime())) return tryIso;\n\n  // match \"DD-MMM-YYYY\" or \"D-MMM-YYYY\" (ví dụ 23-Aug-2026)\n  const m = str.match(/^(\\d{1,2})-([A-Za-z]{3})-(\\d{2,4})$/);\n  if (m) {\n    const day = parseInt(m[1], 10);\n    const monStr = m[2].toLowerCase();\n    const yearStr = m[3];\n    const months = {jan:0,feb:1,mar:2,apr:3,may:4,jun:5,jul:6,aug:7,sep:8,oct:9,nov:10,dec:11};\n    const mon = months[monStr.slice(0,3)];\n    if (mon === undefined) return null;\n    let year = parseInt(yearStr, 10);\n    if (yearStr.length === 2) {\n      // nếu gặp 2 chữ số năm, mặc định là 20xx (cần chỉnh nếu bạn muốn 19xx)\n      year += (year < 70 ? 2000 : 1900);\n    }\n    return new Date(year, mon, day);\n  }\n\n  // fallback: thử các dạng ngày/tháng/năm \"DD/MM/YYYY\" hoặc \"DD-MM-YYYY\"\n  const m2 = str.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})$/);\n  if (m2) {\n    const d = parseInt(m2[1], 10);\n    const mm = parseInt(m2[2], 10) - 1;\n    let yy = parseInt(m2[3], 10);\n    if (String(m2[3]).length === 2) yy += (yy < 70 ? 2000 : 1900);\n    return new Date(yy, mm, d);\n  }\n\n  return null;\n}\n\n// Khoảng thời gian: hôm nay (00:00) -> 7 ngày sau (23:59:59)\nconst today = new Date();\ntoday.setHours(0,0,0,0);\nconst sevenDaysLater = new Date(today);\nsevenDaysLater.setDate(today.getDate() + 7);\nsevenDaysLater.setHours(23,59,59,999);\n\nconst output = [];\n\nfor (const item of items) {\n  // đổi key nếu header sheet khác\n  const raw = item.json[\"ETD Date\"] || item.json[\"ETD\"] || item.json[\"Date In House\"];\n  if (!raw) continue;\n\n  const etd = parseDDMonYYYY(raw);\n  if (!etd) continue;\n\n  // kiểm tra nằm trong khoảng từ hôm nay đến 7 ngày tới\n  if (etd >= today && etd <= sevenDaysLater) {\n    output.push(item);\n  }\n}\n\n// trả về các dòng đã lọc để xử lý tiếp (Switch/Convert/Email...)\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -16
      ],
      "id": "c3891315-ae93-4d76-b482-71bda9ab24f5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d74ce5c-eb7c-4d72-b799-a59281f49b68",
                    "leftValue": "={{ $json.Supplier }}",
                    "rightValue": "=CNS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CNS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4264cc45-6848-4f60-a356-87206998f74f",
                    "leftValue": "={{ $json.Supplier }}",
                    "rightValue": "YKK",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YKK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64ecd900-0e46-4b6d-a874-4746a22d6331",
                    "leftValue": "={{ $json.Supplier }}",
                    "rightValue": "JUNMAY",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JUNMAY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        32,
        -16
      ],
      "id": "01c87905-a206-4956-a565-321724018933",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "CNS.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        -128
      ],
      "id": "3b26ec45-5f17-4bb9-b3c9-ef00979e8eb6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "YKK.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        -16
      ],
      "id": "891c97c6-769c-4e36-89cc-3ed01b777f71",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "JUNMAY.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        96
      ],
      "id": "c6c059c8-156d-432e-8120-b87e22d82609",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "sendTo": "hanh.nt@pro-sports.com.vn",
        "subject": "UP COMMING PO'S ETD",
        "emailType": "text",
        "message": "Hi Supplier,\n\nPlease find attached the PO list with ETD scheduled within 7 days. Kindly ensure that all shipments are arranged and dispatched on time.\n\nThank you",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -128
      ],
      "id": "f7554288-c8cc-4044-8fb2-720c70d392f0",
      "name": "Send a message",
      "webhookId": "30a0906c-3252-405e-97fb-92324b783980",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zjn1pCHJ9PHlNT8x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hanh.nt@pro-sports.com.vn",
        "subject": "UP COMMING PO ETD",
        "message": "Hi Supplier,\n\nPlease find attached POs with ETD scheduled within 7 days. Kindly review and ensure the shipment is arranged and dispatched on time.\n\nthank you",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -16
      ],
      "id": "d8e134bf-b3ac-4844-be94-e97ecc18945b",
      "name": "Send a message1",
      "webhookId": "057508cd-a954-4cc1-88d6-2fec5fd2dd2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zjn1pCHJ9PHlNT8x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hanh.nt@pro-sports.com.vn",
        "subject": "UP COMMING PO ETD",
        "message": "Hi Supplier,\n\nPlease find attached POs with ETD scheduled within 7 days. Kindly review and ensure the shipment is arranged and dispatched on time.\n\nthank you",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        112
      ],
      "id": "5c569cfb-0844-41c5-b87b-43c9905c368e",
      "name": "Send a message2",
      "webhookId": "057508cd-a954-4cc1-88d6-2fec5fd2dd2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zjn1pCHJ9PHlNT8x",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T10:47:55.361Z",
      "createdAt": "2025-11-27T10:47:55.361Z",
      "role": "workflow:owner",
      "workflowId": "dzU3FgWpgCU0E7lt",
      "projectId": "0KvFWNFJcnQ9XdQQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T10:49:31.554Z",
  "versionId": "24c25e18-cc4f-40cc-be29-b755a4d36424"
}