workflows/WEZxHXW9F8lWTIGj.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-15T11:12:01.345Z",
    "createdAt": "2026-01-15T11:11:40.361Z",
    "versionId": "192b65a0-3f64-4d2f-9264-cf0e58576ea2",
    "workflowId": "WEZxHXW9F8lWTIGj",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "calendarId": {
            "__rl": true,
            "value": "1ir11o6atr057tp00uhotdifoe7lj9vg@import.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Calendar"
          },
          "triggerOn": "eventStarted",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d5a56363-f1e7-404d-af08-3771381de07a",
        "name": "Google Calendar Trigger",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "i3Pkx6Hmp14oyxVm",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Input: bundles from Google Calendar module\n// Make sẽ tự map các event vào array `items`\n\nlet events = items;\n\nif (!events || events.length === 0) {\n  return {\n    message: \"📅 *Hôm nay bạn không có lịch nào* 🎉\"\n  };\n}\n\nlet text = \"📅 *LỊCH HÔM NAY*\\n\\n\";\n\nevents.forEach((event, index) => {\n  let title = event.summary || \"No title\";\n\n  let startTime = event.start?.dateTime || event.start?.date || \"\";\n  let endTime = event.end?.dateTime || event.end?.date || \"\";\n\n  // Format time\n  let start = startTime ? new Date(startTime).toLocaleTimeString(\"vi-VN\", {\n    hour: \"2-digit\",\n    minute: \"2-digit\"\n  }) : \"All day\";\n\n  let end = endTime ? new Date(endTime).toLocaleTimeString(\"vi-VN\", {\n    hour: \"2-digit\",\n    minute: \"2-digit\"\n  }) : \"\";\n\n  text += `🕘 *${start}${end ? \" - \" + end : \"\"}*\\n`;\n  text += `📌 ${title}\\n\\n`;\n});\n\nreturn {\n  message: text\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "38ef10d8-30b8-4ccf-83a4-51236d6df51f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "chatId": "1281233579",
          "text": "={{\n(() => {\n  const title = $json.summary || 'Không có tiêu đề';\n\n  // Thời gian\n  const start = $json.start?.dateTime || $json.start?.date;\n  const end = $json.end?.dateTime || $json.end?.date;\n\n  let timeText = 'All day';\n  if (start && end && start.includes('T')) {\n    const s = new Date(start).toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });\n    const e = new Date(end).toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });\n    timeText = `${s}–${e}`;\n  }\n\n  const booker =\n    $json.creator?.displayName ||\n    $json.organizer?.displayName ||\n    $json.creator?.email ||\n    'Unknown';\n\n  return `SỰ KIỆN\n🕘 ${timeText}\n📌 ${title}\n👤 ${booker}`;\n})()\n}}\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          432,
          0
        ],
        "id": "d6397e93-ecf5-408d-8a14-4ce1bf1aff67",
        "name": "Send a text message",
        "webhookId": "316c9616-4216-4766-b52e-aceb3f939556",
        "credentials": {
          "telegramApi": {
            "id": "kO5Gv1mXkPREdJUE",
            "name": "Telegram account 2"
          }
        }
      }
    ],
    "connections": {
      "Google Calendar Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hạnh Julia",
    "name": "Version 192b65a0",
    "description": ""
  },
  "activeVersionId": "192b65a0-3f64-4d2f-9264-cf0e58576ea2",
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T06:35:21.236Z",
  "id": "WEZxHXW9F8lWTIGj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Calendar reminding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "1ir11o6atr057tp00uhotdifoe7lj9vg@import.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Calendar"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d5a56363-f1e7-404d-af08-3771381de07a",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "i3Pkx6Hmp14oyxVm",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: bundles from Google Calendar module\n// Make sẽ tự map các event vào array `items`\n\nlet events = items;\n\nif (!events || events.length === 0) {\n  return {\n    message: \"📅 *Hôm nay bạn không có lịch nào* 🎉\"\n  };\n}\n\nlet text = \"📅 *LỊCH HÔM NAY*\\n\\n\";\n\nevents.forEach((event, index) => {\n  let title = event.summary || \"No title\";\n\n  let startTime = event.start?.dateTime || event.start?.date || \"\";\n  let endTime = event.end?.dateTime || event.end?.date || \"\";\n\n  // Format time\n  let start = startTime ? new Date(startTime).toLocaleTimeString(\"vi-VN\", {\n    hour: \"2-digit\",\n    minute: \"2-digit\"\n  }) : \"All day\";\n\n  let end = endTime ? new Date(endTime).toLocaleTimeString(\"vi-VN\", {\n    hour: \"2-digit\",\n    minute: \"2-digit\"\n  }) : \"\";\n\n  text += `🕘 *${start}${end ? \" - \" + end : \"\"}*\\n`;\n  text += `📌 ${title}\\n\\n`;\n});\n\nreturn {\n  message: text\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "38ef10d8-30b8-4ccf-83a4-51236d6df51f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1281233579",
        "text": "={{\n(() => {\n  const title = $json.summary || 'Không có tiêu đề';\n\n  // Thời gian\n  const start = $json.start?.dateTime || $json.start?.date;\n  const end = $json.end?.dateTime || $json.end?.date;\n\n  let timeText = 'All day';\n  if (start && end && start.includes('T')) {\n    const s = new Date(start).toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });\n    const e = new Date(end).toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });\n    timeText = `${s}–${e}`;\n  }\n\n  const booker =\n    $json.creator?.displayName ||\n    $json.organizer?.displayName ||\n    $json.creator?.email ||\n    'Unknown';\n\n  return `SỰ KIỆN\n🕘 ${timeText}\n📌 ${title}\n👤 ${booker}`;\n})()\n}}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "d6397e93-ecf5-408d-8a14-4ce1bf1aff67",
      "name": "Send a text message",
      "webhookId": "316c9616-4216-4766-b52e-aceb3f939556",
      "credentials": {
        "telegramApi": {
          "id": "kO5Gv1mXkPREdJUE",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T06:35:21.236Z",
      "createdAt": "2026-01-13T06:35:21.236Z",
      "role": "workflow:owner",
      "workflowId": "WEZxHXW9F8lWTIGj",
      "projectId": "fGRIZ2vcPzOtJ2Hj"
    }
  ],
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2026-01-15T11:12:00Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-15T11:11:40.360Z",
  "versionId": "192b65a0-3f64-4d2f-9264-cf0e58576ea2"
}