workflows/WEZxHXW9F8lWTIGj.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-13T10:55:32.293Z",
    "createdAt": "2026-01-13T10:55:28.247Z",
    "versionId": "613349ee-5bed-4032-bc36-29c74f97d844",
    "workflowId": "WEZxHXW9F8lWTIGj",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "calendarId": {
            "__rl": true,
            "value": "ngohanhxinhgai96@gmail.com",
            "mode": "list",
            "cachedResultName": "ngohanhxinhgai96@gmail.com"
          },
          "triggerOn": "eventUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d5a56363-f1e7-404d-af08-3771381de07a",
        "name": "Google Calendar Trigger",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "i3Pkx6Hmp14oyxVm",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const event = $json;\n\n// Bỏ all-day event\nif (!event.start || !event.start.dateTime) {\n  return [];\n}\n\n// Thời gian bắt đầu event\nconst startTime = new Date(event.start.dateTime);\n\n// Trừ 30 phút\nconst remindAt = new Date(startTime.getTime() - 30 * 60 * 1000);\n\n// Nếu thời điểm nhắc đã qua → bỏ\nif (remindAt <= new Date()) {\n  return [];\n}\n\n// Trả dữ liệu đã chuẩn bị sẵn\nreturn [{\n  json: {\n    ...event,\n    remind_at: remindAt.toISOString(),\n    minutes_left: Math.round((startTime - new Date()) / 60000)\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "38ef10d8-30b8-4ccf-83a4-51236d6df51f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "resume": "specificTime",
          "dateTime": "={{$json.remind_at}}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          416,
          0
        ],
        "id": "fc487bfe-e69e-4de6-89e6-ec523d024c96",
        "name": "Wait",
        "webhookId": "48da29d7-f994-4e88-a286-343fdd7954a1"
      },
      {
        "parameters": {
          "chatId": "1281233579",
          "text": "=🔔 NHẮC LỊCH  📅 {{$json.summary}} ⏰ {{$json.start.dateTime}} – {{$json.end.dateTime}} 📍 {{$json.location || 'Online'}}  👤 Organizer: {{$json.organizer?.email || 'N/A'}} ⏳ Còn {{$json.minutes_left}} phút nữa",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          624,
          0
        ],
        "id": "d6397e93-ecf5-408d-8a14-4ce1bf1aff67",
        "name": "Send a text message",
        "webhookId": "316c9616-4216-4766-b52e-aceb3f939556",
        "credentials": {
          "telegramApi": {
            "id": "kO5Gv1mXkPREdJUE",
            "name": "Telegram account 2"
          }
        }
      }
    ],
    "connections": {
      "Google Calendar Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hạnh Julia",
    "name": "Version 613349ee",
    "description": ""
  },
  "activeVersionId": "613349ee-5bed-4032-bc36-29c74f97d844",
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T06:35:21.236Z",
  "id": "WEZxHXW9F8lWTIGj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Calendar reminding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "ngohanhxinhgai96@gmail.com",
          "mode": "list",
          "cachedResultName": "ngohanhxinhgai96@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d5a56363-f1e7-404d-af08-3771381de07a",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "i3Pkx6Hmp14oyxVm",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\n\n// Bỏ all-day event\nif (!event.start || !event.start.dateTime) {\n  return [];\n}\n\n// Thời gian bắt đầu event\nconst startTime = new Date(event.start.dateTime);\n\n// Trừ 30 phút\nconst remindAt = new Date(startTime.getTime() - 30 * 60 * 1000);\n\n// Nếu thời điểm nhắc đã qua → bỏ\nif (remindAt <= new Date()) {\n  return [];\n}\n\n// Trả dữ liệu đã chuẩn bị sẵn\nreturn [{\n  json: {\n    ...event,\n    remind_at: remindAt.toISOString(),\n    minutes_left: Math.round((startTime - new Date()) / 60000)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "38ef10d8-30b8-4ccf-83a4-51236d6df51f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json.remind_at}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "fc487bfe-e69e-4de6-89e6-ec523d024c96",
      "name": "Wait",
      "webhookId": "48da29d7-f994-4e88-a286-343fdd7954a1"
    },
    {
      "parameters": {
        "chatId": "1281233579",
        "text": "=🔔 NHẮC LỊCH  📅 {{$json.summary}} ⏰ {{$json.start.dateTime}} – {{$json.end.dateTime}} 📍 {{$json.location || 'Online'}}  👤 Organizer: {{$json.organizer?.email || 'N/A'}} ⏳ Còn {{$json.minutes_left}} phút nữa",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "d6397e93-ecf5-408d-8a14-4ce1bf1aff67",
      "name": "Send a text message",
      "webhookId": "316c9616-4216-4766-b52e-aceb3f939556",
      "credentials": {
        "telegramApi": {
          "id": "kO5Gv1mXkPREdJUE",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T06:35:21.236Z",
      "createdAt": "2026-01-13T06:35:21.236Z",
      "role": "workflow:owner",
      "workflowId": "WEZxHXW9F8lWTIGj",
      "projectId": "fGRIZ2vcPzOtJ2Hj"
    }
  ],
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2026-01-13T10:55:38Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-13T10:55:38.286Z",
  "versionId": "613349ee-5bed-4032-bc36-29c74f97d844"
}