workflows/WIVCxM8547WVuPNM.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-19T10:15:15.918Z",
    "createdAt": "2026-01-19T10:14:57.826Z",
    "versionId": "1110e631-badb-41c3-a199-c594432e3c63",
    "workflowId": "WIVCxM8547WVuPNM",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "fields",
          "fields": [
            "body",
            "bodyPreview",
            "from",
            "subject",
            "conversationId"
          ],
          "filters": {
            "foldersToInclude": [
              "AQMkADBjMmE3ZWE1LWI0MTYtNDQBMi05NTQ0AC1hNzliZTdhMGU2ZmQALgAAA9p__ME9fN5NqwLdB-rHxBABAGmr4r9a2dFDrcUC6swUMWMAAAIBDAAAAA=="
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -240,
          0
        ],
        "id": "df179aab-a211-4418-b1fd-6252e81cb091",
        "name": "Microsoft Outlook Trigger",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "dEU6TLkk6OITytAr",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Input:\n// - item.json.from.emailAddress.name\n// - item.json.subject\n// - item.json.bodyPreview\n//\n// Output:\n// - item.json.ai_input\n\nfunction normalizeText(text) {\n  return (text || \"\")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/[ \\t]{2,}/g, \" \")\n    .replace(/\\n{4,}/g, \"\\n\\n\\n\")\n    .trim();\n}\n\n/**\n * Detect \"To\" from greeting line.\n * Supports:\n * - Dear A, B, C\n * - Dear chị Hoa, chị Vân, anh Xuân\n * - Hi team / Hello all\n *\n * Returns full recipient string (not just first name).\n */\nfunction detectTo(text) {\n  const lines = (text || \"\")\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  for (const line of lines.slice(0, 12)) {\n    // Match full \"Dear ...\" line (keep commas inside)\n    // Example: \"Dear chị Hoa, chị Vân, anh Xuân\"\n    const m = line.match(/^(dear|hi|hello)\\s+(.+)$/i);\n    if (m) {\n      let recipients = m[2].trim();\n\n      // Remove trailing punctuation\n      recipients = recipients.replace(/[,:;.!]+$/g, \"\").trim();\n\n      // If it's something generic like \"all\", \"team\", keep it as-is\n      // Otherwise return the full list\n      return recipients || \"Không rõ người nhận\";\n    }\n  }\n\n  return \"Không rõ người nhận\";\n}\n\nfunction removeQuotedThread(text) {\n  let t = text;\n\n  const patterns = [\n    /\\n\\s*-{2,}\\s*Original Message\\s*-{2,}[\\s\\S]*$/i,\n    /\\n\\s*-{2,}\\s*Forwarded message\\s*-{2,}[\\s\\S]*$/i,\n    /\\n\\s*-{5,}[\\s\\S]*$/i,\n    /\\n\\s*Begin forwarded message:\\s*[\\s\\S]*$/i,\n    /\\n\\s*On .{0,120}wrote:\\s*[\\s\\S]*$/i,\n  ];\n\n  for (const p of patterns) {\n    if (p.test(t)) t = t.replace(p, \"\").trim();\n  }\n\n  return t.trim();\n}\n\nfunction removeHeaderNoise(text) {\n  return (text || \"\")\n    .replace(/(^|\\n)\\s*(From|Sent|To|Cc|Subject):\\s.*(?=\\n|$)/gi, \"\\n\")\n    .replace(/<[^>\\n]+@[^>\\n]+>/g, \"\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction removeSignature(text) {\n  const lines = (text || \"\").split(\"\\n\");\n  if (lines.length === 0) return text;\n\n  const lower = lines.map(l => l.trim().toLowerCase());\n\n  const markers = [\n    \"pro sports\",\n    \"headquarters\",\n    \"wfx\",\n    \"system\",\n    \"company\",\n    \"ltd\",\n    \"inc\",\n    \"corp\",\n  ];\n\n  const emailRe = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i;\n  const urlRe = /(https?:\\/\\/|www\\.)\\S+/i;\n  const phoneRe = /\\+?\\d[\\d\\s().-]{7,}\\d/;\n\n  let lastMarkerIdx = -1;\n  for (let i = lower.length - 1; i >= 0; i--) {\n    if (!lower[i]) continue;\n    if (markers.some(m => lower[i].includes(m))) {\n      lastMarkerIdx = i;\n      break;\n    }\n  }\n\n  let lastContactIdx = -1;\n  if (lastMarkerIdx === -1) {\n    for (let i = lower.length - 1; i >= 0; i--) {\n      const s = lines[i].trim();\n      if (!s) continue;\n      if (emailRe.test(s) || urlRe.test(s) || phoneRe.test(s)) {\n        lastContactIdx = i;\n        break;\n      }\n    }\n  }\n\n  const cutFromIdx = lastMarkerIdx !== -1 ? lastMarkerIdx : lastContactIdx;\n  if (cutFromIdx === -1) return text.trim();\n\n  let startCut = cutFromIdx;\n  for (let i = cutFromIdx; i >= 0; i--) {\n    if (lines[i].trim() === \"\") {\n      startCut = i;\n      break;\n    }\n  }\n\n  const kept = lines.slice(0, startCut).join(\"\\n\").trim();\n  if (!kept) return lines.slice(0, cutFromIdx).join(\"\\n\").trim();\n  return kept;\n}\n\nfunction detectPurpose(subject, content) {\n  const text = `${subject}\\n${content}`.toLowerCase();\n\n  if (/(duyệt|approve|approval|phê duyệt)/i.test(text)) return \"Xin duyệt / approval\";\n  if (/(costing|giá|price|quotation|quote|báo giá)/i.test(text)) return \"Trao đổi costing / giá\";\n  if (/(đặt|po\\b|purchase order|issue)/i.test(text)) return \"Đặt hàng / PO\";\n  if (/(nhắc|follow|remind|ping)/i.test(text)) return \"Follow-up\";\n  if (/(meeting|lịch|schedule|họp)/i.test(text)) return \"Lịch họp\";\n  if (/(error|issue|bug|system|wfx)/i.test(text)) return \"Hỗ trợ hệ thống\";\n\n  return \"Trao đổi công việc\";\n}\n\nreturn items.map(item => {\n  const senderName = item.json?.from?.emailAddress?.name || \"Unknown sender\";\n  const subject = item.json?.subject || \"(Không có subject)\";\n\n  const previewRaw = item.json?.bodyPreview || \"\";\n  let preview = normalizeText(previewRaw);\n\n  const toName = detectTo(preview);\n\n  let content = preview;\n  content = removeQuotedThread(content);\n  content = removeHeaderNoise(content);\n  content = removeSignature(content);\n  content = normalizeText(content);\n\n  const purpose = detectPurpose(subject, content);\n\n  const contentBlock = content\n    ? content\n    : \"(bodyPreview không có nội dung ngoài chữ ký / hoặc đã bị cắt hết)\";\n\n  item.json.ai_input =\n    `Email từ: ${senderName}\\n` +\n    `To: ${toName}\\n` +\n    `Subject: ${subject}\\n` +\n    `Mục đích: ${purpose}\\n\\n` +\n    `Nội dung:\\n${contentBlock}`;\n\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          0
        ],
        "id": "0a264fd3-bb12-41cc-a63a-fb0362ef18a2",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.ai_input }}",
          "options": {
            "systemMessage": "Bạn là trợ lý công việc cá nhân của anh Xuân (Xavier Xuan – IT & Data Executive tại ProSports).\n\nBạn sẽ nhận đầu vào là nội dung email đã được chuẩn hoá, bao gồm:\n- Email từ\n- To (gửi đến ai)\n- Subject\n- Mục đích\n- Nội dung chính (không có chữ ký, không có header thread)\n\nYÊU CẦU:\n1. LUÔN hiển thị hai dòng đầu:\n   - Email từ: <tên người gửi> to <tên người nhận>\n   - Subject: <subject email>\n\n2. Tóm tắt nội dung email thật ngắn gọn (1–2 gạch đầu dòng, mỗi dòng ≤ 1 câu).\n\n3. Kiểm tra email có LIÊN QUAN ĐẾN ANH XUÂN hay không.\n   Email được coi là liên quan nếu:\n   - Nhắc trực tiếp đến anh Xuân (Xuân, Xavier, anh Xuân)\n   - CC anh Xuân\n   - Có nội dung liên quan đến IT, dữ liệu, hệ thống, AI, WFX.\n\n4. Nếu email **KHÔNG liên quan đến anh Xuân**:\n   - Chỉ hiển thị phần TÓM TẮT.\n\n5. Nếu email **CÓ liên quan đến anh Xuân**:\n   - Thêm mục “LIÊN QUAN” (1 dòng, nêu rõ lý do).\n   - KHÔNG nêu hành động cần thực hiện.\n\n6. Không bịa thông tin, chỉ dựa trên nội dung được cung cấp.\n7. Văn phong chuyên nghiệp, ngắn gọn, dễ đọc.\n\nĐỊNH DẠNG OUTPUT:\n\nEmail từ: <tên người gửi> to <tên người nhận>\nSubject: <subject email>\n\nTÓM TẮT:\n- <1–2 gạch đầu dòng>\n\n[CHỈ HIỂN THỊ NẾU LIÊN QUAN ĐẾN ANH XUÂN]\n\nLIÊN QUAN:\n- <Nêu rõ email liên quan ở điểm nào>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          176,
          0
        ],
        "id": "764a2761-92d7-442f-82c9-d0b3931d5479",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          176,
          240
        ],
        "id": "cb9a5a03-d006-42d9-8e2b-911dbe5dd999",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "cJX4QyuPXhS6ep58",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "threadId": "2091898082743203663",
          "message": "={{ $json.output }}"
        },
        "type": "n8n-nodes-social-zalo.zaloUserInteract",
        "typeVersion": 1,
        "position": [
          528,
          0
        ],
        "id": "8bda27f2-ae06-4139-b26b-be15134f5d4f",
        "name": "Gửi tin nhắn1",
        "credentials": {
          "zaloUserCredentialsApi": {
            "id": "OMssdW79ELA0RV06",
            "name": "Zalo It Bot - 2025-12-06T08:34:23.063Z"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.conversationId }}",
          "tableName": "email_tracking",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          336,
          240
        ],
        "id": "c19338a8-7401-4afa-bb46-23e409756caf",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "FrfYE3BUWGJafJtT",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Microsoft Outlook Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Gửi tin nhắn1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Xuan Nguyen",
    "name": "Version 1110e631",
    "description": ""
  },
  "activeVersionId": "1110e631-badb-41c3-a199-c594432e3c63",
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gửi tin nhắn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T08:16:39.374Z",
  "id": "WIVCxM8547WVuPNM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AUTO Email summary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "body",
          "bodyPreview",
          "from",
          "subject",
          "conversationId"
        ],
        "filters": {
          "foldersToInclude": [
            "AQMkADBjMmE3ZWE1LWI0MTYtNDQBMi05NTQ0AC1hNzliZTdhMGU2ZmQALgAAA9p__ME9fN5NqwLdB-rHxBABAGmr4r9a2dFDrcUC6swUMWMAAAIBDAAAAA=="
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "df179aab-a211-4418-b1fd-6252e81cb091",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "dEU6TLkk6OITytAr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input:\n// - item.json.from.emailAddress.name\n// - item.json.subject\n// - item.json.bodyPreview\n//\n// Output:\n// - item.json.ai_input\n\nfunction normalizeText(text) {\n  return (text || \"\")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/[ \\t]{2,}/g, \" \")\n    .replace(/\\n{4,}/g, \"\\n\\n\\n\")\n    .trim();\n}\n\n/**\n * Detect \"To\" from greeting line.\n * Supports:\n * - Dear A, B, C\n * - Dear chị Hoa, chị Vân, anh Xuân\n * - Hi team / Hello all\n *\n * Returns full recipient string (not just first name).\n */\nfunction detectTo(text) {\n  const lines = (text || \"\")\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  for (const line of lines.slice(0, 12)) {\n    // Match full \"Dear ...\" line (keep commas inside)\n    // Example: \"Dear chị Hoa, chị Vân, anh Xuân\"\n    const m = line.match(/^(dear|hi|hello)\\s+(.+)$/i);\n    if (m) {\n      let recipients = m[2].trim();\n\n      // Remove trailing punctuation\n      recipients = recipients.replace(/[,:;.!]+$/g, \"\").trim();\n\n      // If it's something generic like \"all\", \"team\", keep it as-is\n      // Otherwise return the full list\n      return recipients || \"Không rõ người nhận\";\n    }\n  }\n\n  return \"Không rõ người nhận\";\n}\n\nfunction removeQuotedThread(text) {\n  let t = text;\n\n  const patterns = [\n    /\\n\\s*-{2,}\\s*Original Message\\s*-{2,}[\\s\\S]*$/i,\n    /\\n\\s*-{2,}\\s*Forwarded message\\s*-{2,}[\\s\\S]*$/i,\n    /\\n\\s*-{5,}[\\s\\S]*$/i,\n    /\\n\\s*Begin forwarded message:\\s*[\\s\\S]*$/i,\n    /\\n\\s*On .{0,120}wrote:\\s*[\\s\\S]*$/i,\n  ];\n\n  for (const p of patterns) {\n    if (p.test(t)) t = t.replace(p, \"\").trim();\n  }\n\n  return t.trim();\n}\n\nfunction removeHeaderNoise(text) {\n  return (text || \"\")\n    .replace(/(^|\\n)\\s*(From|Sent|To|Cc|Subject):\\s.*(?=\\n|$)/gi, \"\\n\")\n    .replace(/<[^>\\n]+@[^>\\n]+>/g, \"\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction removeSignature(text) {\n  const lines = (text || \"\").split(\"\\n\");\n  if (lines.length === 0) return text;\n\n  const lower = lines.map(l => l.trim().toLowerCase());\n\n  const markers = [\n    \"pro sports\",\n    \"headquarters\",\n    \"wfx\",\n    \"system\",\n    \"company\",\n    \"ltd\",\n    \"inc\",\n    \"corp\",\n  ];\n\n  const emailRe = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i;\n  const urlRe = /(https?:\\/\\/|www\\.)\\S+/i;\n  const phoneRe = /\\+?\\d[\\d\\s().-]{7,}\\d/;\n\n  let lastMarkerIdx = -1;\n  for (let i = lower.length - 1; i >= 0; i--) {\n    if (!lower[i]) continue;\n    if (markers.some(m => lower[i].includes(m))) {\n      lastMarkerIdx = i;\n      break;\n    }\n  }\n\n  let lastContactIdx = -1;\n  if (lastMarkerIdx === -1) {\n    for (let i = lower.length - 1; i >= 0; i--) {\n      const s = lines[i].trim();\n      if (!s) continue;\n      if (emailRe.test(s) || urlRe.test(s) || phoneRe.test(s)) {\n        lastContactIdx = i;\n        break;\n      }\n    }\n  }\n\n  const cutFromIdx = lastMarkerIdx !== -1 ? lastMarkerIdx : lastContactIdx;\n  if (cutFromIdx === -1) return text.trim();\n\n  let startCut = cutFromIdx;\n  for (let i = cutFromIdx; i >= 0; i--) {\n    if (lines[i].trim() === \"\") {\n      startCut = i;\n      break;\n    }\n  }\n\n  const kept = lines.slice(0, startCut).join(\"\\n\").trim();\n  if (!kept) return lines.slice(0, cutFromIdx).join(\"\\n\").trim();\n  return kept;\n}\n\nfunction detectPurpose(subject, content) {\n  const text = `${subject}\\n${content}`.toLowerCase();\n\n  if (/(duyệt|approve|approval|phê duyệt)/i.test(text)) return \"Xin duyệt / approval\";\n  if (/(costing|giá|price|quotation|quote|báo giá)/i.test(text)) return \"Trao đổi costing / giá\";\n  if (/(đặt|po\\b|purchase order|issue)/i.test(text)) return \"Đặt hàng / PO\";\n  if (/(nhắc|follow|remind|ping)/i.test(text)) return \"Follow-up\";\n  if (/(meeting|lịch|schedule|họp)/i.test(text)) return \"Lịch họp\";\n  if (/(error|issue|bug|system|wfx)/i.test(text)) return \"Hỗ trợ hệ thống\";\n\n  return \"Trao đổi công việc\";\n}\n\nreturn items.map(item => {\n  const senderName = item.json?.from?.emailAddress?.name || \"Unknown sender\";\n  const subject = item.json?.subject || \"(Không có subject)\";\n\n  const previewRaw = item.json?.bodyPreview || \"\";\n  let preview = normalizeText(previewRaw);\n\n  const toName = detectTo(preview);\n\n  let content = preview;\n  content = removeQuotedThread(content);\n  content = removeHeaderNoise(content);\n  content = removeSignature(content);\n  content = normalizeText(content);\n\n  const purpose = detectPurpose(subject, content);\n\n  const contentBlock = content\n    ? content\n    : \"(bodyPreview không có nội dung ngoài chữ ký / hoặc đã bị cắt hết)\";\n\n  item.json.ai_input =\n    `Email từ: ${senderName}\\n` +\n    `To: ${toName}\\n` +\n    `Subject: ${subject}\\n` +\n    `Mục đích: ${purpose}\\n\\n` +\n    `Nội dung:\\n${contentBlock}`;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ],
      "id": "0a264fd3-bb12-41cc-a63a-fb0362ef18a2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_input }}",
        "options": {
          "systemMessage": "Bạn là trợ lý công việc cá nhân của anh Xuân (Xavier Xuan – IT & Data Executive tại ProSports).\n\nBạn sẽ nhận đầu vào là nội dung email đã được chuẩn hoá, bao gồm:\n- Email từ\n- To (gửi đến ai)\n- Subject\n- Mục đích\n- Nội dung chính (không có chữ ký, không có header thread)\n\nYÊU CẦU:\n1. LUÔN hiển thị hai dòng đầu:\n   - Email từ: <tên người gửi> to <tên người nhận>\n   - Subject: <subject email>\n\n2. Tóm tắt nội dung email thật ngắn gọn (1–2 gạch đầu dòng, mỗi dòng ≤ 1 câu).\n\n3. Kiểm tra email có LIÊN QUAN ĐẾN ANH XUÂN hay không.\n   Email được coi là liên quan nếu:\n   - Nhắc trực tiếp đến anh Xuân (Xuân, Xavier, anh Xuân)\n   - CC anh Xuân\n   - Có nội dung liên quan đến IT, dữ liệu, hệ thống, AI, WFX.\n\n4. Nếu email **KHÔNG liên quan đến anh Xuân**:\n   - Chỉ hiển thị phần TÓM TẮT.\n\n5. Nếu email **CÓ liên quan đến anh Xuân**:\n   - Thêm mục “LIÊN QUAN” (1 dòng, nêu rõ lý do).\n   - KHÔNG nêu hành động cần thực hiện.\n\n6. Không bịa thông tin, chỉ dựa trên nội dung được cung cấp.\n7. Văn phong chuyên nghiệp, ngắn gọn, dễ đọc.\n\nĐỊNH DẠNG OUTPUT:\n\nEmail từ: <tên người gửi> to <tên người nhận>\nSubject: <subject email>\n\nTÓM TẮT:\n- <1–2 gạch đầu dòng>\n\n[CHỈ HIỂN THỊ NẾU LIÊN QUAN ĐẾN ANH XUÂN]\n\nLIÊN QUAN:\n- <Nêu rõ email liên quan ở điểm nào>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "764a2761-92d7-442f-82c9-d0b3931d5479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "cb9a5a03-d006-42d9-8e2b-911dbe5dd999",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cJX4QyuPXhS6ep58",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "threadId": "2091898082743203663",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "id": "8bda27f2-ae06-4139-b26b-be15134f5d4f",
      "name": "Gửi tin nhắn1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "OMssdW79ELA0RV06",
          "name": "Zalo It Bot - 2025-12-06T08:34:23.063Z"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.conversationId }}",
        "tableName": "email_tracking",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "c19338a8-7401-4afa-bb46-23e409756caf",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FrfYE3BUWGJafJtT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Microsoft Outlook Trigger": [
      {
        "json": {
          "@odata.etag": "W/\"CQAAABYAAABpq+K/WtnRQ63FAurMFDFjAAG9mLjA\"",
          "id": "AAMkADBjMmE3ZWE1LWI0MTYtNDQ0Mi05NTQ0LWE3OWJlN2EwZTZmZABGAAAAAADafvjBPXzeTasC3Qf6x8QQBwBpq_K-WtnRQ63FAurMFDFjAAAAAAEMAABpq_K-WtnRQ63FAurMFDFjAAG_s7DxAAA=",
          "subject": "Thông báo triển khai tra cứu lương và thông tin nhân sự trên Hệ thống Nhân sự ",
          "bodyPreview": "Dear anh/chị,\r\n\r\nNhằm chuẩn hóa công tác quản lý thông tin nhân sự và giúp Người lao động chủ động tra cứu các thông tin liên quan đến chi tiết lương, thu nhập, chấm công và một số nội dung nhân sự cá nhân, Công ty chính thức triển khai việc sử dụng Salar",
          "conversationId": "AAQkADBjMmE3ZWE1LWI0MTYtNDQ0Mi05NTQ0LWE3OWJlN2EwZTZmZAAQAGuyEUUfP0aSuDT3HYoGu1w=",
          "body": {
            "contentType": "html",
            "content": "<html><head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta name=\"Generator\" content=\"Microsoft Word 15 (filtered medium)\"><style>\r\n<!--\r\n@font-face\r\n\t{font-family:Wingdings}\r\n@font-face\r\n\t{font-family:\"Cambria Math\"}\r\n@font-face\r\n\t{font-family:Aptos}\r\n@font-face\r\n\t{font-family:\"Myriad Pro\"}\r\n@font-face\r\n\t{font-family:\"Segoe UI Semilight\"}\r\np.MsoNormal, li.MsoNormal, div.MsoNormal\r\n\t{margin:0in;\r\n\tfont-size:12.0pt;\r\n\tfont-family:\"Aptos\",sans-serif}\r\np.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph\r\n\t{margin-top:0in;\r\n\tmargin-right:0in;\r\n\tmargin-bottom:0in;\r\n\tmargin-left:.5in;\r\n\tfont-size:12.0pt;\r\n\tfont-family:\"Aptos\",sans-serif}\r\nspan.EmailStyle17\r\n\t{font-family:\"Aptos\",sans-serif;\r\n\tcolor:windowtext}\r\n.MsoChpDefault\r\n\t{}\r\n@page WordSection1\r\n\t{margin:1.0in 1.0in 1.0in 1.0in}\r\ndiv.WordSection1\r\n\t{}\r\nol\r\n\t{margin-bottom:0in}\r\nul\r\n\t{margin-bottom:0in}\r\n-->\r\n</style></head><body lang=\"EN-US\" link=\"#467886\" vlink=\"#96607D\" style=\"word-wrap:break-word\"><div class=\"WordSection1\"><p class=\"MsoNormal\"><b><i>Dear anh/chị,</i></b></p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\">Nhằm chuẩn hóa công tác quản lý thông tin nhân sự và giúp Người lao động chủ động tra cứu các thông tin liên quan đến <b>chi tiết lương, thu nhập, chấm công và một số nội dung nhân sự cá nhân</b>, Công ty chính thức triển khai việc sử dụng <b>Salary Portal</b> để Người lao động đăng nhập và tra cứu thông tin của mình.</p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\"><b>1. Hình thức cung cấp tài khoản</b></p><p class=\"MsoNormal\">Phòng Nhân sự sẽ <b>cấp tài khoản đăng nhập cho từng Người lao động</b>, bao gồm:</p><ul type=\"disc\" style=\"margin-top:0in\"><li class=\"MsoNormal\" style=\"\"><b>Tên đăng nhập</b></li><li class=\"MsoNormal\" style=\"\"><b>Mật khẩu tạm thời</b></li></ul><p class=\"MsoNormal\">Thông tin tài khoản sẽ được <b>in và dán trong phong bì kín</b>, sau đó <b>phát trực tiếp đến từng Người lao động</b> để đảm bảo tính bảo mật.</p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\"><b>2. Cách thức sử dụng</b></p><p class=\"MsoNormal\">Sau khi nhận được phong bì chứa thông tin tài khoản, Người lao động thực hiện:</p><ul type=\"disc\" style=\"margin-top:0in\"><li class=\"MsoNormal\" style=\"\">Đăng nhập vào <b>Salary Portal</b> theo hướng dẫn đính kèm trong phong bì.</li><li class=\"MsoNormal\" style=\"\"><b>Bắt buộc đổi mật khẩu ngay trong lần đăng nhập đầu tiên</b>.</li><li class=\"MsoNormal\" style=\"\">Sử dụng tài khoản để tra cứu <b>chi tiết lương và các thông tin nhân sự cá nhân</b>.</li></ul><p class=\"MsoNormal\"><b>&nbsp;</b></p><p class=\"MsoNormal\"><b>3. Một số lưu ý quan trọng</b></p><p class=\"MsoNormal\"><b>&nbsp;</b></p><ul type=\"disc\" style=\"margin-top:0in\"><li class=\"MsoNormal\" style=\"\">Tài khoản đăng nhập là <b>thông tin cá nhân và bảo mật</b>, Người lao động <b>không chia sẻ</b> cho bất kỳ cá nhân nào khác.</li><li class=\"MsoNormal\" style=\"\">Người lao động <b>chịu hoàn toàn trách nhiệm</b> đối với việc quản lý và sử dụng tài khoản của mình.</li><li class=\"MsoNormal\" style=\"\">Phòng Nhân sự không chịu trách nhiệm đối với các rủi ro phát sinh do việc tiết lộ hoặc chia sẻ thông tin tài khoản từ phía Người lao động.</li><li class=\"MsoNormal\" style=\"\">Trường hợp quên mật khẩu hoặc gặp khó khăn khi đăng nhập, Người lao động vui lòng liên hệ <b>Ms. Huyền - &nbsp;Phòng Nhân sự</b> để được hỗ trợ.</li></ul><p class=\"MsoNormal\" style=\"\"><b><span style=\"font-size:13.5pt\">4. Lưu ý về thông tin thâm niên làm việc</span></b></p><ul type=\"disc\"><li class=\"MsoListParagraph\" style=\"margin-left:0in\"><span style=\"\">Trên <b>Hệ thống Nhân sự</b>, mục <b>thâm niên làm việc</b> được hiển thị là <b>thời gian làm việc của Người lao động tại PSHN</b>, <b>không bao gồm</b> thời gian làm việc từ ngày đầu tiên tại <b>Pro-Sport</b>.</span></li><li class=\"MsoListParagraph\" style=\"margin-left:0in\"><span style=\"\">Trường hợp Người lao động phát hiện thông tin hiển thị <b>chưa chính xác</b>, vui lòng phản hồi lại <b>Ms. Huyền - &nbsp;Phòng Nhân sự</b> để được kiểm tra và điều chỉnh trên hệ thống.</span></li></ul><p class=\"MsoNormal\" style=\"\"><b><span style=\"font-size:13.5pt\">5. Thông tin đối với Người lao động không có email</span></b></p><ul type=\"disc\"><li class=\"MsoListParagraph\" style=\"margin-left:0in\"><span style=\"\">Đối với Người lao động <b>chưa có email</b>, anh/chị <b>Trưởng Bộ phận </b>vui lòng thông báo giúp em nội dung email này đến toàn bộ nhân viên thuộc phạm vi quản lý để Người lao động nắm thông tin và phối hợp thực hiện nhé ạ.</span></li><li class=\"MsoListParagraph\" style=\"margin-left:0in\"><span style=\"\">Anh/chị<b> </b>Trưởng Bộ phận<b> </b>vui lòng qua phòng Nhân sự để nhận bàn giao phong bì bao gồm tài khoản và mật khẩu của bộ phận mình vào sáng ngày mai <b>20/01/2026 từ 10:00 đến 10:30</b>. Sau khi nhận được tài khoản, Người lao động <b>có thể sử dụng ngay để tra cứu chi tiết lương tháng 12/2025.</b></span></li></ul><p class=\"MsoNormal\" style=\"margin-left:.25in\"><span style=\"\">Cảm ơn sự phối hợp của anh/chị và HR mong rằng Hệ thống Nhân sự sẽ mang lại sự thuận tiện và trải nghiệm sử dụng tốt cho anh chị em nhà mình.</span></p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\"><span style=\"font-family:&quot;Times New Roman&quot;,serif\">Best Regards !</span></p><p class=\"MsoNormal\"><span style=\"font-family:&quot;Times New Roman&quot;,serif\">&nbsp;</span></p><p class=\"MsoNormal\"><img width=\"42\" height=\"34\" src=\"cid:image001.jpg@01DC8963.6AA1ABA0\" align=\"left\" hspace=\"8\" style=\"width:.4375in; height:.3541in\"><b><span style=\"font-family:&quot;Myriad Pro&quot;; color:#669900\">Trương Thị Thanh Huyền</span></b><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif; color:black\"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><b><span style=\"font-family:&quot;Segoe UI Semilight&quot;,sans-serif; color:black\">HR Officer</span></b></p><p class=\"MsoNormal\"><b><span style=\"font-family:&quot;Segoe UI Semilight&quot;,sans-serif; color:#598600\">PRO SPORTS HEADQUARTERS </span></b></p><p class=\"MsoNormal\"><img width=\"15\" height=\"14\" id=\"Picture_x0020_1\" src=\"cid:image002.jpg@01DC8963.6AA1ABA0\" style=\"width:.1527in; height:.1458in\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif\">&nbsp;&nbsp;Tầng 15, Tòa nhà Lilama 10, Tố Hữu, Trung Văn, Nam Từ Liêm, Hà Nội</span></p><p class=\"MsoNormal\"><img width=\"16\" height=\"16\" id=\"Picture_x0020_2\" src=\"cid:image003.jpg@01DC8963.6AA1ABA0\" style=\"width:.1666in; height:.1666in\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif\">&nbsp; <a href=\"mailto:cnb2.hanoi@pro-sports.com.vn\"><span style=\"color:#467886\">cnb2.hanoi@pro-sports.com.vn</span></a></span></p><p class=\"MsoNormal\"><img border=\"0\" width=\"15\" height=\"15\" id=\"Picture_x0020_3\" src=\"cid:image004.jpg@01DC8963.6AA1ABA0\" style=\"width:.1527in; height:.1527in\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif\">+84 24 3562 6415 Ext: </span></p><p class=\"MsoNormal\"><img border=\"0\" width=\"15\" height=\"14\" id=\"Picture_x0020_4\" src=\"cid:image005.jpg@01DC8963.6AA1ABA0\" style=\"width:.1527in; height:.1458in\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif\">&nbsp; </span><span style=\"\"><a href=\"https://pro-sports.com.vn/\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Semilight&quot;,sans-serif; color:#467886\">https://pro-sports.com.vn</span></a></span></p><p class=\"MsoNormal\">&nbsp;</p></div></body></html>"
          },
          "from": {
            "emailAddress": {
              "name": "Truong Thi Thanh Huyen (CNB)",
              "address": "cnb2.hanoi@pro-sports.com.vn"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T08:16:39.374Z",
      "createdAt": "2026-01-10T08:16:39.374Z",
      "role": "workflow:owner",
      "workflowId": "WIVCxM8547WVuPNM",
      "projectId": "KwaSwzGupikfluvZ"
    }
  ],
  "staticData": {
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2026-01-20T01:13:57.002+07:00"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-19T10:14:57.824Z",
  "versionId": "1110e631-badb-41c3-a199-c594432e3c63"
}