workflows/WIVCxM8547WVuPNM.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-10T09:38:50.394Z",
    "createdAt": "2026-01-10T09:38:38.523Z",
    "versionId": "c3be5370-9b78-42d5-89e9-1ab52734b124",
    "workflowId": "WIVCxM8547WVuPNM",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "fields",
          "fields": [
            "body",
            "bodyPreview",
            "from",
            "subject"
          ],
          "filters": {
            "foldersToInclude": [
              "AQMkADBjMmE3ZWE1LWI0MTYtNDQBMi05NTQ0AC1hNzliZTdhMGU2ZmQALgAAA9p__ME9fN5NqwLdB-rHxBABAGmr4r9a2dFDrcUC6swUMWMAAAIBDAAAAA=="
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -240,
          0
        ],
        "id": "df179aab-a211-4418-b1fd-6252e81cb091",
        "name": "Microsoft Outlook Trigger",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "dEU6TLkk6OITytAr",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Input:\n// - item.json.from.emailAddress.name\n// - item.json.subject\n// - item.json.bodyPreview\n//\n// Output:\n// - item.json.ai_input\n\nfunction cleanBodyPreview(text) {\n  let t = text || \"\";\n\n  // normalize line breaks\n  t = t.replace(/\\r\\n/g, \"\\n\");\n\n  // remove PRO SPORTS signature (from name/title block to end)\n  t = t.replace(\n    /\\n?[^\\n]{0,80}\\n\\s*[^\\n]{0,80}\\n[\\s\\S]*?PRO\\s+SPORTS\\s+HEADQUARTERS[\\s\\S]*$/i,\n    \"\"\n  );\n\n  // remove contact leftovers\n  t = t\n    .replace(/^\\s*[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\s*$/gim, \"\")\n    .replace(/^\\s*\\+?\\d[\\d\\s().-]{7,}\\d\\s*$/gim, \"\")\n    .replace(/^\\s*https?:\\/\\/\\S+\\s*$/gim, \"\");\n\n  // cleanup spacing\n  t = t\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .replace(/^\\s+|\\s+$/g, \"\")\n    .trim();\n\n  return t;\n}\n\n// Simple heuristic to guess email purpose\nfunction detectPurpose(subject, content) {\n  const text = `${subject}\\n${content}`.toLowerCase();\n\n  if (/(duyệt|approve|approval)/i.test(text)) return \"Xin duyệt / approval\";\n  if (/(costing|giá|price)/i.test(text)) return \"Trao đổi costing / giá\";\n  if (/(đặt vải|issue đơn|đặt hàng|po)/i.test(text)) return \"Chuẩn bị đặt hàng / PO\";\n  if (/(nhắc|follow|remind)/i.test(text)) return \"Follow-up / nhắc việc\";\n  if (/(fyi|tham khảo)/i.test(text)) return \"FYI / tham khảo\";\n\n  return \"Trao đổi công việc\";\n}\n\nreturn items.map(item => {\n  const senderName = item.json?.from?.emailAddress?.name || \"Unknown sender\";\n  const subject = item.json?.subject || \"(Không có subject)\";\n  const preview = item.json?.bodyPreview || \"\";\n\n  const cleanedContent = cleanBodyPreview(preview);\n  const purpose = detectPurpose(subject, cleanedContent);\n\n  const aiInput = [\n    `Email từ: ${senderName}`,\n    `Subject: ${subject}`,\n    `Mục đích: ${purpose}`,\n    \"\",\n    cleanedContent\n  ]\n    .filter(Boolean)\n    .join(\"\\n\");\n\n  item.json.ai_input = aiInput;\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          0
        ],
        "id": "0a264fd3-bb12-41cc-a63a-fb0362ef18a2",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.ai_input }}",
          "options": {
            "systemMessage": "Email từ: Stella Tham (MD)\nSubject: PARAGON SS26 - XIN DUYỆT COSTING\n\nTÓM TẮT:\n- Gửi chị Hiền xin duyệt costing cho đơn Core 2605 để kịp đặt vải."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          176,
          0
        ],
        "id": "764a2761-92d7-442f-82c9-d0b3931d5479",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          80,
          224
        ],
        "id": "cb9a5a03-d006-42d9-8e2b-911dbe5dd999",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "ZTongs9LJBLbK1CL",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "threadId": "2091898082743203663",
          "message": "={{ $json.output }}"
        },
        "type": "n8n-nodes-social-zalo.zaloUserInteract",
        "typeVersion": 1,
        "position": [
          528,
          0
        ],
        "id": "8bda27f2-ae06-4139-b26b-be15134f5d4f",
        "name": "Gửi tin nhắn1",
        "credentials": {
          "zaloUserCredentialsApi": {
            "id": "OMssdW79ELA0RV06",
            "name": "Zalo It Bot - 2025-12-06T08:34:23.063Z"
          }
        }
      }
    ],
    "connections": {
      "Microsoft Outlook Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Gửi tin nhắn1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Xuan Nguyen",
    "name": "Version c3be5370",
    "description": ""
  },
  "activeVersionId": "c3be5370-9b78-42d5-89e9-1ab52734b124",
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gửi tin nhắn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T08:16:39.374Z",
  "id": "WIVCxM8547WVuPNM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AUTO Email summary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "body",
          "bodyPreview",
          "from",
          "subject"
        ],
        "filters": {
          "foldersToInclude": [
            "AQMkADBjMmE3ZWE1LWI0MTYtNDQBMi05NTQ0AC1hNzliZTdhMGU2ZmQALgAAA9p__ME9fN5NqwLdB-rHxBABAGmr4r9a2dFDrcUC6swUMWMAAAIBDAAAAA=="
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "df179aab-a211-4418-b1fd-6252e81cb091",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "dEU6TLkk6OITytAr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input:\n// - item.json.from.emailAddress.name\n// - item.json.subject\n// - item.json.bodyPreview\n//\n// Output:\n// - item.json.ai_input\n\nfunction cleanBodyPreview(text) {\n  let t = text || \"\";\n\n  // normalize line breaks\n  t = t.replace(/\\r\\n/g, \"\\n\");\n\n  // remove PRO SPORTS signature (from name/title block to end)\n  t = t.replace(\n    /\\n?[^\\n]{0,80}\\n\\s*[^\\n]{0,80}\\n[\\s\\S]*?PRO\\s+SPORTS\\s+HEADQUARTERS[\\s\\S]*$/i,\n    \"\"\n  );\n\n  // remove contact leftovers\n  t = t\n    .replace(/^\\s*[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\s*$/gim, \"\")\n    .replace(/^\\s*\\+?\\d[\\d\\s().-]{7,}\\d\\s*$/gim, \"\")\n    .replace(/^\\s*https?:\\/\\/\\S+\\s*$/gim, \"\");\n\n  // cleanup spacing\n  t = t\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .replace(/^\\s+|\\s+$/g, \"\")\n    .trim();\n\n  return t;\n}\n\n// Simple heuristic to guess email purpose\nfunction detectPurpose(subject, content) {\n  const text = `${subject}\\n${content}`.toLowerCase();\n\n  if (/(duyệt|approve|approval)/i.test(text)) return \"Xin duyệt / approval\";\n  if (/(costing|giá|price)/i.test(text)) return \"Trao đổi costing / giá\";\n  if (/(đặt vải|issue đơn|đặt hàng|po)/i.test(text)) return \"Chuẩn bị đặt hàng / PO\";\n  if (/(nhắc|follow|remind)/i.test(text)) return \"Follow-up / nhắc việc\";\n  if (/(fyi|tham khảo)/i.test(text)) return \"FYI / tham khảo\";\n\n  return \"Trao đổi công việc\";\n}\n\nreturn items.map(item => {\n  const senderName = item.json?.from?.emailAddress?.name || \"Unknown sender\";\n  const subject = item.json?.subject || \"(Không có subject)\";\n  const preview = item.json?.bodyPreview || \"\";\n\n  const cleanedContent = cleanBodyPreview(preview);\n  const purpose = detectPurpose(subject, cleanedContent);\n\n  const aiInput = [\n    `Email từ: ${senderName}`,\n    `Subject: ${subject}`,\n    `Mục đích: ${purpose}`,\n    \"\",\n    cleanedContent\n  ]\n    .filter(Boolean)\n    .join(\"\\n\");\n\n  item.json.ai_input = aiInput;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ],
      "id": "0a264fd3-bb12-41cc-a63a-fb0362ef18a2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_input }}",
        "options": {
          "systemMessage": "Email từ: Stella Tham (MD)\nSubject: PARAGON SS26 - XIN DUYỆT COSTING\n\nTÓM TẮT:\n- Gửi chị Hiền xin duyệt costing cho đơn Core 2605 để kịp đặt vải."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "764a2761-92d7-442f-82c9-d0b3931d5479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "cb9a5a03-d006-42d9-8e2b-911dbe5dd999",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZTongs9LJBLbK1CL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "threadId": "2091898082743203663",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "id": "8bda27f2-ae06-4139-b26b-be15134f5d4f",
      "name": "Gửi tin nhắn1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "OMssdW79ELA0RV06",
          "name": "Zalo It Bot - 2025-12-06T08:34:23.063Z"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T08:16:39.374Z",
      "createdAt": "2026-01-10T08:16:39.374Z",
      "role": "workflow:owner",
      "workflowId": "WIVCxM8547WVuPNM",
      "projectId": "KwaSwzGupikfluvZ"
    }
  ],
  "staticData": {
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2026-01-12T02:00:06.002+00:00"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-12T01:43:09.504Z",
  "versionId": "c3be5370-9b78-42d5-89e9-1ab52734b124"
}